<% content_for :stylesheets do %>

.my-head {
margin-top: 40px;
text-align: center;
}

<% end %>

<header class="am-g my-head">
  <div class="am-u-sm-12 am-article">
    <h1 class="am-article-title">我的关注</h1>
  </div>
  <hr class="am-article-divider">
</header>

<div class="am-g-fixed am-u-sm-centered">
  <div id="note-area">
  </div>
  <table class="am-table">
    <thead>
      <tr>
	<th>户型</th><th>地块</th><th>面积</th><th>楼号</th><th>单元号</th><th>楼层</th><th>门牌号</th><th>居室</th><th>关注人数</th><th>操作</th>
      </tr>
    </thead>
    <tbody class="query-result">
      <% @houses.each do |house| %>
      <tr>
        <td><%= @house_types[house.house_type_id].name %></td>
        <td><%= @sites[@buildings[house.building_id].site_id].name %></td>
        <td><%= @house_types[house.house_type_id].area %></td>
        <td><%= @buildings[house.building_id].name %></td>
        <td><%= house.unit %></td>
        <td><%= house.floor %></td>
        <td><%= house.door %></td>
        <td><%= @house_types[house.house_type_id].description %></td>
        <td><%= house.attention_count %></td>
        <td><button class="am-btn am-btn-primary delete" id="<%= house.id%>">取消关注</button></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div data-am-widget="gotop" class="am-gotop am-gotop-default">
  <a href="#top" title="回到顶部">
    <span class="am-gotop-title">回到顶部</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
