<% content_for :stylesheets do %>

.types-g-fixed {
height: 600px;
}

.my-head {
margin-top: 40px;
text-align: center;
}

.my-title {
martin-top: 40px;
}

<% end %>

<div class="am-g am-g-fixed">
  <header class="my-head">
    <div class="am-article">
      <h1 class="am-article-title">所有户型</h1>
    </div>
    <hr class="am-article-divider"/>
  </header>

  <% @house_types.each do |house_type| %>
  <div class="am-u-sm-12 am-u-md-4 am-u-lg-3 <%= "am-u-end" if @house_types.last == house_type %>">
    <div class="am-panel am-panel-default">
      <div class="am-panel-hd">
        <%= house_type.name %>
      </div>
      <div class="am-panel-bd">
        <%= image_tag "house_types/#{house_type.name}.jpg", class: "am-radius" %>
        <ul class="am-list am-list-static">
          <li><%= house_type.description %></li>
          <li><%= house_type.area %>平米</li>
          <li><%= house_type.amount %>套</li>
          <li><%= link_to "查看详细", controller: "house_types", action: "show", id: house_type %></li>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
</div>
