<% content_for :stylesheets do %>

@media only screen and (min-width: 641px) {
.am-offcanvas {
display: block;
position: static;
background: none;
}
.am-offcanvas-bar {
position: static;
width: auto;
background: none;
-webkit-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.am-offcanvas-bar:after {
content: none;
}
}

@media only screen and (max-width: 640px) {
.am-offcanvas-bar .am-nav>li>a {
color:#ccc;
border-radius: 0;
border-top: 1px solid rgba(0,0,0,.3);
box-shadow: inset 0 1px 0 rgba(255,255,255,.05)
}

.am-offcanvas-bar .am-nav>li>a:hover {
background: #404040;
color: #fff
}

.am-offcanvas-bar .am-nav>li.am-nav-header {
color: #777;
background: #404040;
box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
text-shadow: 0 1px 0 rgba(0,0,0,.5);
border-top: 1px solid rgba(0,0,0,.3);
font-weight: 400;
font-size: 75%
}

.am-offcanvas-bar .am-nav>li.am-active>a {
background: #1a1a1a;
color: #fff;
box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

.am-offcanvas-bar .am-nav>li+li {
margin-top: 0;
}
}

.my-head {
margin-top: 40px;
text-align: center;
}

.my-button {
position: fixed;
top: 0;
right: 0;
border-radius: 0;
}
.my-sidebar {
padding-right: 0;
border-right: 1px solid #eeeeee;
}

.my-title {
text-align: center;
}

.my-graph {
height: 300px;
}
<% end %>

<div class="am-g am-g-fixed am-u-sm-centered">
  <header class="my-head">
    <div class="am-article">
      <h1 class="am-article-title"><%= @house_type.name %></h1>
    </div>
    <hr class="am-article-divider"/>
  </header>

  <div class="am-u-sm-2">
    <ul class="am-list am-list-border my-sidebar">
      <% @house_types.each do |house_type| %>
      <li<%= ' class="am-active"'.html_safe if house_type == @house_type %>>
        <%= link_to house_type.name, controller: "house_types", action: "show", id: house_type %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="am-u-sm-10">
    <div class="am-g">
      <div class="am-u-sm-8 am-img-thumbnail" data-am-popover="{content: '点击图片以放大', trigger: 'hover focus'}" id="type-image">
	<%= image_tag "house_types/#{@house_type.name}.jpg", class: "am-radius" %>
      </div>

      <div class="am-u-sm-4">
	<p><span class="am-badge am-badge-success am-radius am-text-lg">居室</span><%= @house_type.description %></p>
	<p><span class="am-badge am-badge-primary am-radius am-text-lg">面积</span><%= @house_type.area %>平方米</p>
	<p><span class="am-badge am-badge-warning am-radius am-text-lg">分布</span>S-1地块、S-2地块</p>
	<p><span class="am-badge am-badge-danger am-radius am-text-lg">可选人员</span>C级及以上人员</p>
      </div>
    </div>

    <div class="am-g">
      <h1 class="my-head">户型分布</h1>
      <hr>
      <div class="am-u-sm-8 am-img-thumbnail" id="svg-map" data-am-popover="{content: '点击地块以查看详细信息', trigger: 'hover focus'}">
	<%= inline_svg 'map.svg' %>
      </div>
      <div class="am-u-sm-4">
	<ul class="am-list am-list-static am-list-border am-list-stripped">
	  <li id="li-Ec">S-1地块<small>(900套)</small><button type="button" class="am-btn am-btn-link" id="btn-Ec">查看详细</button></li>
	  <li id="li-Ecc">S-2地块<small>(900套)</small></li>
	  <li id="li-F">S-3地块<small>(900套)</small></li>
	  <li id="li-G">S-4地块<small>(900套)</small></li>
	  <li id="li-Gc">S-5地块<small>(900套)</small></li>
	</ul>
      </div>
    </div>
  </div>
</div>

<div class="am-popup" id="my-popup">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <h4 class="am-popup-title">T-1户型在S-1地块中的分布</h4>
      <span data-am-modal-close
	    class="am-close">&times;</span>
    </div>
    <div class="am-modal-bd" id="svg-lot">
      <p>带颜色的方块为T-1户型房屋</p>
      <%= inline_svg 'Ec.svg' %>
    </div>
    <div class="am-modal-bd">
      <p class="am-modal-btn">点此了解更多S-1地块的信息</p>
    </div>
  </div>
</div>

<div class="am-popup" id="img-popup">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <h4 class="am-popup-title">户型: T1</h4>
      <span data-am-modal-close
	    class="am-close">&times;</span>
    </div>
    <div class="am-modal-bd">
      <%= image_tag "house_types/#{@house_type.name}.jpg", class: "am-radius" %>
    </div>
  </div>
</div>

<div data-am-widget="gotop" class="am-gotop am-gotop-default">
  <a href="#top" title="回到顶部">
    <span class="am-gotop-title">回到顶部</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
