<% content_for :stylesheets do %>

.my-head {
margin-top: 40px;
text-align: center;
}

<% end %>

<header class="am-g my-head">
  <div class="am-u-sm-12 am-article">
    <h1 class="am-article-title">房屋查询</h1>
  </div>
  <hr class="am-article-divider">
</header>

<div class="am-g am-g-fixed am-u-sm-centered" data-am-popover="{content: '点击展开筛选条件', trigger: 'hover focus'}">
  <section data-am-widget="accordion" class="am-accordion am-accordion-gapped"
           data-am-accordion='{  }'>
    <dl class="am-accordion-item">
      <dt class="am-accordion-title">户型
        <% @house_types.each do |house_type| %>
        <span class="am-badge am-badge-primary am-round query-banner" id="house-type-<%= house_type.id %>-banner" style="display:none;"><%= house_type.name %></span>
        <% end %>
      </dt>
      <dd class="am-accordion-bd am-collapse">
        <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
        <div class="am-accordion-content">
          <% @house_types.each do |house_type| %>
            <button type="button" class="am-btn am-btn-default query query-house-type" id="house-type-<%= house_type.id %>"><%= house_type.name %></button>
          <% end %>
        </div>
      </dd>
    </dl>
    <dl class="am-accordion-item">
      <dt class="am-accordion-title">地块
        <% @sites.each do |site| %>
        <span class="am-badge am-badge-primary am-round query-banner" id="site-<%= site.id %>-banner" style="display:none;"><%= site.name %></span>
        <% end %>
      </dt>
      <dd class="am-accordion-bd am-collapse ">
        <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
        <div class="am-accordion-content">
          <% @sites.each do |site| %>
          <button type="button" class="am-btn am-btn-default query query-site" id="site-<%= site.id %>"><%= site.name %></button>
          <% end %>
        </div>
      </dd>
    </dl>
    <dl class="am-accordion-item">
      <dt class="am-accordion-title">楼号
        <% @buildings.each do |building| %>
        <span class="am-badge am-badge-primary am-round query-banner" id="building-<%= building.id %>-banner" style="display:none;"><%= building.name %></span>
        <% end %>
      </dt>
      <dd class="am-accordion-bd am-collapse ">
        <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
        <div class="am-accordion-content">
          <% @buildings.each do |building| %>
          <button type="button" class="am-btn am-btn-default query query-building" id="building-<%= building.id %>"><%= building.name %></button>
          <% end %>
        </div>
      </dd>
    </dl>
    <dl class="am-accordion-item">
      <dt class="am-accordion-title">面积
        <% @areas.each do |area| %>
        <span class="am-badge am-badge-primary am-round query-banner" id="area-<%= area %>-banner" style="display:none;"><%= area %>平米</span>
        <% end %>
      </dt>
      <dd class="am-accordion-bd am-collapse ">
        <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
        <div class="am-accordion-content">
          <div class="am-btn-group">
            <% @areas.each do |area| %>
            <button type="button" class="am-btn am-btn-default query query-area" id="area-<%= area %>"><%= area %>平米</button>
            <% end %>
          </div>
        </div>
      </dd>
    </dl>
    <dl class="am-accordion-item">
      <dt class="am-accordion-title">楼层
        <% @floors.each do |floor| %>
        <span class="am-badge am-badge-primary am-round query-banner" id="floor-<%= floor %>-banner" style="display:none;"><%= floor %>楼</span>
        <% end %>
      </dt>
      <dd class="am-accordion-bd am-collapse ">
        <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
        <div class="am-accordion-content">
          <div class="am-btn-group">
            <% @floors.each do |floor| %>
            <button type="button" class="am-btn am-btn-default query query-floor" id="floor-<%= floor %>"><%= floor %>楼</button>
            <% end %>
          </div>
        </div>
      </dd>
    </dl>
  </section>
</div>

<div>
  <button type="button" class="am-btn am-btn-default btn-query" style="display:none;">Query</button>
</div>

<hr>

<div class="am-g-fixed am-center">
  <table class="am-table">
    <thead>
      <tr>
	<th>户型</th><th>地块</th><th>面积</th><th>楼号</th><th>单元号</th><th>门牌号</th><th>居室</th><th>操作</th>
      </tr>
    </thead>
    <tbody class="query-result">
      <tr>
	<td>T-1</td><td>S-1</td><td>90平方米</td><td>E-1</td><td>1</td><td>101</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
      </tr>
      <tr>
	<td>T-1</td><td>S-1</td><td>90平方米</td><td>E-1</td><td>1</td><td>101</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
      </tr>
      <tr>
	<td>T-1</td><td>S-1</td><td>90平方米</td><td>E-1</td><td>1</td><td>101</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div data-am-widget="gotop" class="am-gotop am-gotop-default">
  <a href="#top" title="回到顶部">
    <span class="am-gotop-title">回到顶部</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
