<% content_for :stylesheets do %>

.types-g-fixed {
height: 600px;
}

.my-head {
margin-top: 40px;
text-align: center;
}

.my-title {
margin-top: 40px;
}

<% end %>

<div class="am-g am-g-fixed">
  <header class="my-head">
    <div class="am-article">
      <h1 class="am-article-title">所有地块</h1>
    </div>
    <hr class="am-article-divider"/>
  </header>

  <% @sites.each do |site| %>
    <div class="am-u-sm-12 <%= "am-u-end" if @sites.last == site %>">
      <div class="am-panel am-panel-default">
        <div class="am-panel-hd">
          <%= site.name %>地块
        </div>
        <div class="am-panel-bd">
          <%= image_tag "sites/#{site.name}.jpg", class: "am-radius am-align-left", size: "350x250" %>
          <p><span class="am-icon-bullseye">面积</span><%= site.area %>平米</p>
          <p><span class="am-icon-bus">交通</span><%= site.transportation %></p>
          <p><span class="am-icon-plus-square">医疗</span><%= site.medicine %></p>
          <p><span class="am-icon-coffee">餐饮</span><%= site.food %></p>
          <p><%= link_to "查看详细", controller: "sites", action: "show", id: site %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
