<% content_for :stylesheets do %>
@media only screen and (min-width: 641px) {
.am-offcanvas {
display: block;
position: static;
background: none;
}

.am-offcanvas-bar {
position: static;
width: auto;
background: none;
-webkit-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.am-offcanvas-bar:after {
content: none;
}

}

@media only screen and (max-width: 640px) {
.am-offcanvas-bar .am-nav>li>a {
color:#ccc;
border-radius: 0;
border-top: 1px solid rgba(0,0,0,.3);
box-shadow: inset 0 1px 0 rgba(255,255,255,.05)
}

.am-offcanvas-bar .am-nav>li>a:hover {
background: #404040;
color: #fff
}

.am-offcanvas-bar .am-nav>li.am-nav-header {
color: #777;
background: #404040;
box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
text-shadow: 0 1px 0 rgba(0,0,0,.5);
border-top: 1px solid rgba(0,0,0,.3);
font-weight: 400;
font-size: 75%
}

.am-offcanvas-bar .am-nav>li.am-active>a {
background: #1a1a1a;
color: #fff;
box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

.am-offcanvas-bar .am-nav>li+li {
margin-top: 0;
}
}

.my-head {
margin-top: 40px;
text-align: center;
}

.my-button {
position: fixed;
top: 0;
right: 0;
border-radius: 0;
}
.my-sidebar {
padding-right: 0;
border-right: 1px solid #eeeeee;
}

.my-title {
text-align: center;
}

.my-graph {
height: 300px;
}
<% end %>

<div class="am-g am-g-fixed">
  <header class="my-head">
    <div class="am-article">
      <h1 class="am-article-title">地块介绍</h1>
    </div>
    <hr class="am-article-divider"/>
  </header>

  <div class="am-g">
    <div class="am-u-sm-6 my-map">
      <div class="am-slider am-slider-default my-slides"
      data-am-flexslider="{controlNav: 'thumbnails', directionNav: false}" data-am-popover="{content: '点击可放大图片', trigger: 'hover focus'}">
      <ul class="am-slides">
        <li class="my-slide" data-thumb="/assets/Ec-1.jpg"><%= image_tag 'Ec-1.jpg', height: '50' %></li>
        <li class="my-slide" data-thumb="/assets/Ec-2.png"><%= image_tag 'Ec-2.png', height: '50' %></li>
        <li class="my-slide" data-thumb="/assets/Ec-3.png"><%= image_tag 'Ec-3.png', height: '50' %></li>
        <li class="my-slide" data-thumb="/assets/Ec-4.jpg"><%= image_tag 'Ec-4.jpg', height: '50' %></li>
      </ul>
    </div>

  </div>
  <div class="am-u-sm-6 am-text-middle">
    <h1 class="am-article-title"><%= @site.name %></h1>
    <p><span class="am-badge am-badge-secondary am-radius am-text-lg">面积</span><%= @site.area %>平方米</p>
    <p><span class="am-badge am-badge-warning am-radius am-text-lg">餐饮</span><%= @site.food %></p>
    <p><span class="am-badge am-badge-success am-radius am-text-lg">交通</span><%= @site.transportation %></p>
    <p><span class="am-badge am-badge-danger am-radius am-text-lg">医疗</span><%= @site.medicine %></p>
  </div>
</div>

<header class="my-head">
  <div class="am-article">
    <h1 class="am-article-title">地块户型分布</h1>
  </div>
  <hr class="am-article-divider"/>
</header>
<div class="am-g">
  <div class="am-u-sm-8 am-u-lg-centered" id="sites-svg" data-am-popover="{content: '点击楼房以查看详细信息', trigger: 'hover focus'}">
    <%= inline_svg 'Ec.svg' %>
  </div>
</div>
</div>

<div class="am-popup" id="my-popup">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <h4 class="am-popup-title">楼E-1</h4>
      <span data-am-modal-close
      class="am-close">&times;</span>
    </div>
    <div class="am-modal-bd" id="svg-lot">
      <p>楼E-1户型分布</p>
      <table class="am-table am-table-bordered">
        <thead>
          <tr>
            <th>楼层</th>
            <th colspan="2">1单元</th>
            <th colspan="2">2单元</th>
            <th colspan="2">3单元</th>
            <th colspan="2">4单元</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>6层</td>
            <td colspan="2">辰-B</td>
            <td colspan="2">辰-B</td>
            <td colspan="2">辰-B</td>
            <td colspan="2">辰-B</td>
          </tr>
          <tr>
            <td>5层</td>
            <td>午-A</td>
            <td>午-B</td>
            <td>辰-A</td>
            <td>辰-A</td>
            <td>辰-A</td>
            <td>辰-A</td>
            <td>午-B</td>
            <td>午-A</td>
          </tr>
          <tr>
            <td>4层</td>
            <td>午-A</td>
            <td>午-B</td>
            <td>辰-A</td>
            <td>辰-A</td>
            <td>辰-A</td>
            <td>辰-A</td>
            <td>午-B</td>
            <td>午-A</td>
          </tr>
          <tr>
            <td>3层</td>
            <td>午-A</td>
            <td>午-B</td>
            <td>辰-A</td>
            <td>辰-A</td>
            <td>辰-A</td>
            <td>辰-A</td>
            <td>午-B</td>
            <td>午-A</td>
          </tr>
          <tr>
            <td>2层</td>
            <td>午-A</td>
            <td>午-B</td>
            <td>辰-A</td>
            <td>辰-A</td>
            <td>辰-A</td>
            <td>辰-A</td>
            <td>午-B</td>
            <td>午-A</td>
          </tr>
          <tr>
            <td>1层</td>
            <td colspan="2">子-A</td>
            <td colspan="2">子-A</td>
            <td colspan="2">子-A</td>
            <td colspan="2">子-A</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="am-modal-bd">
      <p class="am-modal-btn">点此了解更多楼E-1的信息</p>
    </div>
  </div>
</div>

<div class="am-popup" id="img-popup">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <h4 class="am-popup-title">户型图: 午A</h4>
      <span data-am-modal-close
      class="am-close">&times;</span>
    </div>
    <div class="am-modal-bd am-slider am-slider-default"
    data-am-flexslider>
    <ul class="am-slides">
      <li><%= image_tag 'Ec-1.jpg' %></li>
      <li><%= image_tag 'Ec-2.png' %></li>
      <li><%= image_tag 'Ec-3.png' %></li>
      <li><%= image_tag 'Ec-4.jpg' %></li>
    </ul>
  </div>
</div>
</div>