<% if sign_in? %>
<header class="am-topbar am-topbar-fixed-top">
  <div class="am-container">
    <h1 class="am-topbar-brand">
      <%= link_to '肖家河住房申购系统', root_path %>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#collapse-head'}">
      <span class="am-sr-only">导航切换</span>
      <span class="am-icon-bars"></span>
    </button>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li><%= link_to '首页', root_path %></li>
        <li><%= link_to '通知公告', messages_path %></li>
        <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
            房屋展示 <span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
            <li><%= link_to '1. 按户型展示', house_types_path %></li>
            <li><%= link_to '2. 按地块展示', sites_path %></li>
            <li><%= link_to '3. 按楼号展示', buildings_path %></li>
            <li><%= link_to '4. 可选房源', '' %></li>
          </ul>
        </li>
        <li><%= link_to '房屋查询', queries_path %></li>
        <li><%= link_to '房屋申购', applications_path %></li>
        <li><%= link_to '我的关注', attentions_path %></li>
      </ul>

      <div class="am-topbar-right">
        <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
            您好 <span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
            <li><%= link_to "登出", signout_path, method: "delete" %></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</header>
<% end %>
